@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-gradient-to-br from-green-400 via-green-200 to-green-100 text-zinc-700 dark:bg-gradient-to-br dark:from-[#0f2027] dark:via-[#2c5364] dark:to-[#145a32] dark:text-zinc-300;
}
